.item-row{
  background-color: white;
  transition: all .2s ease-in-out;
  border: solid rgb(108, 110, 118);
  border-width: 1px;
}

.item-row-highlight{
  background-color: rgb(160, 210, 237);
  scale: 1.01;
  border: solid rgb(108, 110, 118);
  border-width: 1px;
}

.item-row:hover{
  background-color: rgb(218, 224, 227);
  scale: 1.005;
  cursor: pointer;
}

.item-description{
  overflow-wrap: break-word;
}

.edit-btn{
  background-color: transparent;
  padding: 0;
  border-color: transparent;
  color: rgb(33, 112, 240);
  scale: 1.1;
}

.edit-btn:hover{
  background-color: transparent;
  border-color: transparent;
  color: aliceblue;
}

.me-text{
  font-weight: bold;
}
