.item-row{
  background-color: rgba(199, 199, 198, 0.855);
  transition: all .2s ease-in-out;
}

.item-row-highlight{
  background-color: rgb(206, 211, 223);
  scale: 1.01;
}

.item-row:hover{
  background-color: rgb(206, 211, 223);
  scale: 1.01;
}

.item-description{
  overflow-wrap: break-word;
}

.edit-btn{
  background-color: transparent;
  padding: 0;
  border-color: transparent;
  color: rgb(33, 112, 240);
  scale: 1.1;
}

.edit-btn:hover{
  background-color: transparent;
  border-color: transparent;
  color: aliceblue;
}

.me-text{
  font-weight: bold;
}
