.item-row{
  background-color: rgb(213, 213, 210);
  transition: all .1s ease-in-out;
}

.item-row:hover{
  background-color: rgb(206, 211, 223);
  scale: 1.01;
}

.item-description{
  overflow-wrap: break-word;
}
