.login-guest-link{
  color: black
}

.login-form{
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}

.login-container{
  background-color: aliceblue;
  min-height: 100vh;
}

.new-here-wrapper{
  background-color: rgb(117, 144, 211);
  min-height: 100vh;
  padding-top: 250px;
  
}

.new-here-wrapper {
	background: linear-gradient(-45deg, #ee7752, #cb7193, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
