.login-guest-link{
  color: black
}

.login-form{
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}

.login-container{
  background-color: aliceblue;
  min-height: 100vh;
}

.new-here-wrapper{
  background-color: rgb(117, 144, 211);
  min-height: 100vh;
  padding-top: 250px;
}